<md-layout layout-padding>
    <p>
        <strong>Average Height:</strong> {{ species.average_height }} cm
    </p>
    <p>
        <strong>Average Lifespan:</strong> {{ species.average_lifespan }} years
    </p>
    <p>
        <strong>Classification:</strong> {{ species.classification }}
    </p>
    <p>
        <strong>Designation:</strong> {{ species.designation }}
    </p>
    <p>
        <strong>Eye Colors:</strong> {{ species.eye_colors }}
    </p>
    <p>
        <strong>Hair Colors:</strong> {{ species.hair_colors }}
    </p>
    <p>
        <strong>Language:</strong> {{ species.language }}
    </p>
    <p>
        <strong>Skin colors:</strong> {{ species.skin_colors }}
    </p>
</md-layout>