<md-layout layout-padding>
    <p>
        <strong>Climate:</strong> {{ planet.climate }}
    </p>
    <p>
        <strong>Diameter:</strong> {{ planet.diameter }} meters
    </p>
    <p>
        <strong>Gravity:</strong> {{ planet.gravity }}
    </p>
    <p>
        <strong>Orbital Period:</strong> {{ planet.orbital_period }} days
    </p>
    <p>
        <strong>Rotation Period:</strong> {{ planet.rotation_period }} hours
    </p>
    <p>
        <strong>Population:</strong> {{ planet.population }}
    </p>
    <p>
        <strong>Terrain:</strong> {{ planet.terrain }}
    </p>
    <p>
        <strong>Surface Water:</strong> {{ planet.surface_water }}
    </p>
</md-layout>