<md-card>
    <md-toolbar md-scroll-shrink="false">
        <div class="md-toolbar-tools">
            <a href="/#!/">
                <i class="zmdi zmdi-home zmdi-hc-fw"></i>
                Home
            </a>
            <!-- fill up the space between left and right area -->
            <span flex></span>
        </div>
    </md-toolbar>
    <div flex layout="row">
        <md-layout layout-padding>

            <div layout="column" flex>
                <ng-transclude></ng-transclude>
            </div>
        </md-layout>
    </div>
</md-card>